<p id="notice"><%= notice %></p>

<p>
  <strong> Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Country:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @state.name %>
</p>
<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>


<%= link_to 'Back',users_path %>

